/*Mobile styles go first*/

p {background-color: white;
    color: black;}

    .showdesktop {display: none;}
    .showmobile {display: block;}

    /*Tablet styles go second */
    @media (min-width: 600px) {
        p {background-color: rgb(0, 0, 0)}
        body{}
        header {}
    }

    /*Desktop styles go last */
    @media (min-width: 800px) {
        p {background-color:white;}
        

        .showmobile {display: none;}
        .showdesktop {display: block;}
    
    }
    
    body {
        background-color:white;
        background-color: white;
        color: #000;
    }
    
